#gallery{
  margin-top: 30px;
}

#gallery > a > img{
  display: block;
  width: 100%;
  margin-top: 9px;
}

@media (min-width: 500px){
  #gallery{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 6px;

      margin-top: 0;
  }
}

@media (min-width: 800px){
  #gallery{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6px;

      margin-top: 0;
  }
}

@media (min-width: 1000px){
  #gallery{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 6px;

      margin-top: 0;
  }
}

@media (min-width: 1300px){
  #gallery{
      grid-template-columns: repeat(5, 1fr);
      width: 900px;
      margin: auto;
  }

}