.shadow {
  box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.7);
}

#me-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
} 

.avatar-container {
  padding: 5% 10% 5% 10%;
}

.summary-container {
  padding: 0% 5% 0% 5%;
}

.label-main {
  background-color: #282828;
}

.label-mid {
  background-color: #5b5b5b;
}

.label-misc {
  background-color: rgb(154, 154, 154);
}

.skills-container {
  padding: 10% 0 5% 10%;
}